.title {
  margin: 50px;
  text-align: center;
  color: #253237;
}

.menu {
  background-color: #253237;
}

.subtitle {
  text-align: center;
  color: #5C6B73;
  padding: 30px;
}

.footer {
  text-align: center;
  padding: 50px;
}

footer {
  border-top: 1px solid #253237;
}

.topBuffer {
  margin-top: 20px;
  border-top: 1px solid #9DB4C0;
  padding-top: 5px;
}

#logoHistory {
  text-align: center;
  margin: 20px;
  color: #9DB4C0;
}
